/******** global ********/

button,
input[type="button"] {
  -webkit-appearance: none;
  border: none;
  padding: 2%;
  margin: 1.5%;
  font-size: 1.75em;
  font-family: inherit;
  font-weight: bold;
  color: white;
  min-width: 100px;
}

.button-group {
	text-align: center;
	margin: 5%;
}

/****** Icons ********/

.icon {
	width: 48px;
	height: 48px;
	margin: auto;
} 

.icon-wrapper {
	position: absolute;
	top: 1%;
	display: block;
	min-width: 48px;
	height: 48px;
	background-size: auto;
	background-repeat: no-repeat;
	background-position-x: 50%;
}

#addHome {
	right: 4%;
	background-image: url(./images/email/home_icon_white.png);
}

.icon-wrapper p {
	color: white;
	position: relative;
	bottom: 0;
	text-align: center;
	margin-top: -12px;
}

#changeAccountButton {
	left: 20%;
	background-image: url(./images/email/users_icon_white.png);
}

#Sync {
	left: 78%;
	background-image: url(./images/email/refresh_icon_white.png);
}

#InboxButton {
	left: 10%;
	background-image: url(./images/email/inbox_icon_white.png);
}

#searchMail {
	left: 42%;
	line-height: 48px;
}

#searchMail input {
	font-weight: normal;
	font-size: 
	height: 50%;
	margin-right: 5%;
	padding: 0 10px;
	box-sizing: border-box;
	border: none;
	box-shadow: none;
	outline: none;
	border-radius: 16px;
	width: 150px;
}

#searchMailButton {
	height: 48px;
	width: 48px;
	position: absolute;
	top: 0;
	left: 100%;
	background-image: url(./images/email/search_icon_white.png);
}

section, h1 {
	position: relative;
	}	

.inner-content ul, .modal {
	position: relative;
	top:25%;
	margin-top: -12.5%;
}

h1 {
	font-size: 2.5em;
	color: white;
	text-align: center;
	padding: 2% 0;
	}

h2 {
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	color: rgb(100, 149, 237);
	margin-bottom: 10%;
}

.themeColor {
	background-position: right;
	background-color: rgb(100, 149, 237);
}

.modal {
	width: 80%;
	min-height: 10%;
	margin: auto;
	padding: 5%;
	box-sizing: border-box;
	background-color: rgba(100, 149, 237, 0.25);
	border: 1px solid rgb(100, 149, 237)
}

.inner-content {
	background-color: white;
	top: 7%;
	width: 92%;
	height: 909px;
	margin: 0 auto;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/******** Add Email Account Styles ********/

.inner-content header,
.inner-content footer {
	background-color: #6495ed;
	min-height: 65px;
	line-height: 65px;
	}

.account-logo {
	display: block;
	position:relative;
	text-align: center;
	margin-bottom: 5%;
}

.account-logo img {
	margin: auto;
}

#addOther {
	font-size: 2em;
	font-weight: 600;
}

.inner {
	background-color: rgba(100, 149, 237, 0.5);
	height: 100%;
	width: 100%;
}

/******** Add Account Details Screen ********/

#addAccountDetailsDiv.inner {
  padding: 0;
}

#emailAccountsHeader {
	top: 8%;
	left: 18%;
	width: 64%;
	height: 4%;
	background-image: url('./images/email/SelectEmailtouseordelete.png');
	background-size: auto 100%;
}

.chooseEmailAccountBgImg {
	background-image: url('./images/email/chooseAccountScreen.png');
	background-size: auto 100%;
	height: 100%;
	width: 100%;
}

/******** Inbox Screen ********/

.inner-content.sidebar-left {
	margin: 0;
	width: 82%;
	left: 14%;
	right: 4%;
}

.inboxBgImg {
	background-image: url('./images/email/Inbox.png');
	background-size: auto 100%;
	height: 100%;
	width: 100%;
}

label {
	font-weight: bold;
	font-size: 150%;
}

.details {
	padding: 5%;
	margin: 5%;
	background-color: rgb(218,255,255);
	min-height: 50%;
}

.details div {
	margin-bottom: 4%;
}

.details input {
	position: absolute;
	right: 0;
	width: 67%;
	border: 1px solid rgb(135, 206, 235);
	background: white;
}

.description {
	width: 67%;
	margin-left: 33%;
}

#SaveAccountCtrl {
	display: block;
	margin: auto;
}

#progressDiv {
	font-size: 150%;
	display: block;
	padding: 2%;
	margin: auto;
	width: 20%;
	text-align: center;
}

#syncDiv {
	position: absolute;
	top: 91%;
	left: 42%;
	height: 4%;
	font-size: 300%;
	font-weight:bold;
	color: white;
	padding :1%;
	border: 1px solid white;
}

.LabelCtrl {
	position: absolute;
	width: 10%;
	height: 10%;
	font-weight: bold;
	font-size: 150%;
}

.MessagIcon {
	position: absolute;
	width: 30%;
	height: 30%;
	background-image: url(./images/email/envelope_icon.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
}

#pdfIcon {
	background-image: url(./images/email/pdf.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
}

#jpegIcon {
	background-image: url(./images/email/jpeg.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
}

#textIcon {
	background-image: url(./images/email/text.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
}

#gifIcon {
	background-image: url(./images/email/gif.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.mailDivPart {
	position: absolute;
	left: 10%;
	width: 10%;
	height: 10%;
	background-size: auto 100%;
	background-repeat: no-repeat;
}

#emailAccounts {
	overflow: auto;
}

.chooseEmailCheckBox {
	position: absolute;
	width: 40%;
	height: 40%;
}

.Trash {
	position: absolute;
	top: 90%;
	left: 88%;
	width: 8%;
	height: 7%;
	background-image: url(./images/email/trash_icon.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.ComposeButton {
	position: absolute;
	top: 7%;
	left: 0%;
	width: 8%;
	height: 7%;
	background-image: url(./images/email/new_compose_message_icon.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.CheckBoxSelectAll {
	position: absolute;
	top: 8.5%;
	left: 89%;
	width: 3%;
	height: 3%;
}

.InboxLabelCtrl {
	font-weight: bold;
	color: white;
	padding: 0 5%;
}

.InboxHandler {
	position: absolute;
	top: 13%;
	left: 9%;
	background-color: white;
	width: 88%;
	height: 76%;
	overflow-y: auto;
	overflow-x: hidden;
}

.MsgItemBody {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
	border-style: solid;
	border: 1px solid grey;
	border-style: hidden hidden solid hidden;
}

.MsgItemBodyIsRead {
	position: absolute;
	top: 16%;
	left: 3%;
	width: 3%;
	height: 23%;
	background-image: url(./images/email/readableIcon.png);
	background-size: auto 100%;
}

.MsgItemBodySubject {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 77%;
	height: 40%;
	font-size: 150%;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
}

.MsgItemBodyBody {
	position: absolute;
	top: 50%;
	left: 10%;
	width: 80%;
	height: 45%;
	font-size: 120%;
	overflow: hidden;
	text-wrap: none;
}

.MessageItemBodyCheckBox {
	position: absolute;
	top: 32%;
	left: 80%;
	width: 25%;
	height: 25%;
}

.ReplyAll {
	position: absolute;
	top: 8%;
	left: 57%;
	width: 6%;
	height: 4%;
	background-image: url(./images/email/reply_all_icon.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.Reply {
	position: absolute;
	top: 8%;
	left: 65%;
	width: 6%;
	height: 4%;
	background-image: url(./images/email/reply_icon.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.Forward {
	position: absolute;
	top: 8%;
	left: 72%;
	width: 6%;
	height: 4%;
	background-image: url(./images/email/forward_icon.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.Next {
	position: absolute;
	top: 8%;
	left: 92%;
	width: 6%;
	height: 4%;
	background-image: url(./images/email/next_icon.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.MailHandler {
	position: absolute;
	top: 14%;
	left: 10%;
	background-color: white;
	width: 86%;
	height: 75%;
}

.ViewMailLabelCtrl {
	position: absolute;
	font-weight: bold;
	font-size: 8px;
	left: 10%;
	top: 9%;
	color: white;
}

.MailCtrl {
	position: absolute;
	font-size: 150%;
	font-weight: bold;
	white-space: nowrap;
	line-height: 150%;
	overflow: hidden;
	width: 95%;
}

.MailCtrlValue {
	position: absolute;
	font-size: 100%;
	left: 2%;
}

.MailBodyValue {
	position: absolute;
	font-size: 100%;
	left: 2%;
	top: 25%;
	height: 45%;
	width: 95%;
	overflow-y: visible;
	overflow-x: visible;
}

.MailAttachmentDiv {
	position: absolute;
	top: 72%;
	left: 2%;
	width: 25%;
	height: 15%;
	background-size: auto 100%;
	background-repeat: no-repeat;
}

#attachments {
	position: absolute;
	top: 22%;
	left: 2%;
	width: 3%;
	height: 5%;
	background-image: url(./images/email/paperclip_attachment_icon.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
	font-size: 250%;
	color: rgb(100, 149, 237);
}

#structureMail {
	position: absolute;
	top: 15%;
	left: 10%;
	width: 85%;
	height: 20%;
	background-image: url(./images/email/add_account_box_bg.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.attachName {
	font-size: 60%;
}

.attachDivClass {
	position: absolute;
	width: 25%;
	height: 77%;
	overflow: hidden;
	background-size: auto 100%;
	background-repeat: no-repeat;
}

#bodyDetails {
	position: absolute;
	top: 36%;
	left: 10%;
	width: 85%;
	height: 40%;
	resize: none;
	font-size: 200%;
	border: none ! important;
	box-shadow: none ! important;
	outline: none ! important;
	background-color: transparent;
}

#composeAttach {
	position: absolute;
	top: 78%;
	left: 10%;
	width: 85%;
	height: 12%;
	resize: none;
	font-size: 200%;
	overflow-y: auto;
}

#viewAttachment {
	position: absolute;
	top: 85%;
	left: 0%;
	width: 100%;
	height: 18%;
	resize: none;
	font-size: 200%;
	overflow-y: auto;
}

.inbox {
	position: absolute;
	top: 5%;
	left: 5%;
}

.name {
	position: absolute;
	top: 5%;
	left: 15%;
}

.sendDiv {
	position: absolute;
	top: 7%;
	left: 80%;
	width: 5%;
	height: 5%;
	background-image: url(./images/email/send_icon.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.draftIcon {
	position: absolute;
	top: 15%;
	left: 1%;
	width: 6%;
	height: 5%;
	background-image: url(./images/email/drafts_icon.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
	font-size: 250%;
	text-align: center;
	vertical-align: bottom;
	color: rgb(100, 149, 237);
}

#DraftDiv {
	position: absolute;
	top: 13%;
	left: 9%;
	background-color: white;
	width: 88%;
	height: 66%;
	overflow-y: auto;
	overflow-x: hidden;
}

#editContinue {
	position: absolute;
	top: 80%;
	left: 15%;
	background-image: url(./images/email/edit_continue.png);
	background-size: auto 100%;
	width: 35%;
	height: 4%;
}

#cancel {
	position: absolute;
	top: 80%;
	left: 55%;
	background-image: url(./images/email/cancel.png);
	background-size: auto 100%;
	width: 25%;
	height: 4%;
}

/****Attachment Screen CSS********/
#fileAttachmentHeader {
	top: 8%;
	left: 30%;
	width: 40%;
	height: 4%;
	background-image: url('./images/email/SelectFileToAttach.png');
	background-size: auto 100%;
}

.attachFileScreenImg {
	background-image: url('./images/email/chooseAccountScreen.png');
	background-size: auto 100%;
	height: 100%;
	width: 100%;
}

.attachFile {
	position: absolute;
	top: 20%;
	left: 10%;
	width: 80%;
	height: 50%;
	background-image: url(./images/email/attachInnerPop.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
	overflow-x: auto;
}

#attachFileButton {
	position: absolute;
	top: 75%;
	left: 20%;
	width: 20%;
	height: 5%;
	background-image: url(./images/email/AttachFile.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
}

#cancelButton {
	position: absolute;
	top: 75%;
	left: 55%;
	width: 20%;
	height: 5%;
	background-image: url(./images/email/cancel.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
>>>>>>> Adds Inbox Styling
}